# Entornos virtuales
.venv/
venv/

# Archivos de cache de Python
_pycache_/
*.py[cod]
*.pyo

# Archivos de configuración de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas o logs
*.log